.bd-placeholder-img1 {

    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  
  
.footer{
    
    text-align:center;
    opacity: 0.9;
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    
    
    
  }
  